# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/
UserSettings/

# VS/JetBrains
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.svd
.vscode/
*.suo
*.userprefs
.vs/

# OS
.DS_Store
Thumbs.db